.decde-site-header--container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "leftside rightside";
  gap: 1em;

  .decde-site-header--left {
    grid-area: leftside;
  }
  .decde-site-header--right {
    grid-area: rightside;
    aspect-ratio: 1;
    height: 100%;
  }

  @media (max-width: 700px) {
    grid-template-areas: "rightside" "leftside";
    justify-items: center;

    .decde-site-header--left {
      text-align: center;
    }

    .decde-site-header--right {
      width: 100px;
      max-width: 100px;
    }
  }
}

.decde-site-header--title {
  font-size: 36pt;
  margin: 0;
}
.decde-site-header--tagline {
  font-size: 24pt;
  font-style: italic;
}
.decde-site-header--disclaimer {
  margin-bottom: 0;
}
