body {
  background-color: #e4e0d7;
  @media (max-width: 300px) {
    margin: 0.2em;
  }
}

.decde-assistive-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
}

.decde-font-small {
  font-size: 10pt;
}

@media (max-width: 900px) {
  .decde-desktop-only {
    display: none;
  }
}
