/* we want nothing to do with those pesky default spacings */
body {
    padding: 0;
    background-color: #e4e0d7; /* less harsh background color */
}

/* brutalist for that 90's look */
.box {
    width: 100%;
    box-shadow: 6px 6px 0 #111;
    border-style: solid;
    border-width: 3px;
    padding: 0.5em;
    background-color: #fff; /* break up that color, pal */
}

/* is it really modern web design if you DONT center it? */
main {
    margin: auto;
    width: 75%;
}

table {
    border-collapse: collapse; /* match flat lines of other crap */
    width: 100%; /* experimental, not sure if looks good */
}

/* seemed a bit too cramped */
td, th {
    padding-left: 2px;
    padding-right: 2px;
}

/* these links are large and in charge */
a {
    font-size: large;
    font-weight: bold!important
}

/* muahaha, contrast goes weeeee */
a:link {
    color: blue;
}
a:visited {
    color: purple;
}

h3, h2, h1, p {
    margin: 0; /* tame that garbage */
}

/* feels cleaner, i think */
dl {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}